@model PostDetailViewModel


<div class="detail bg-white">
  <div class="jumbotron bg-white pt-1">
    <div class="row">
      <div class="d-flex flex-column col-6 justify-content-center">
        @if (Model.Post.IsForSubscribersOnly)
        {
          <h6 class="pl-3 text-dark">PREMIUM MEMBER STORIES</h6>
        }
        <h1 class="pl-3">
          @Model.Post.Title
        </h1>
        <h3 class="pl-3 text-secondary">
          @Model.Post.ShortDescription
        </h3>
      </div>
      <div class="col-6">
        <img src="@Model.Post.ImageUrl" alt="" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-8 offset-2">
      @(new HtmlString(Model.Post.Text))
    </div>
  </div>
</div>

<!-- Comments section -->

<div class="container">
  <div class="row">
    <div class="col-2" id="name" data-post-id="@Model.Post.PostId">User</div>
    <div class="col-4"><input type="text" id="userInput"/></div>
  </div>
  <div class="row">
    <div class="col-2">Comments</div>
    <div class="col-4"><input type="text" id="commentInput"/></div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-6">
      <input type="button" id="sendButton" value="Send Message"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-6">
    <ul id="messagesList">
      @foreach (var comment in Model.Comments)
      {
        <li>@comment.Name says @comment.Body</li>
      }
    </ul>
  </div>
</div>


<div class="fixed hidden"></div>
<script>
      var $win = $(window),
        $fixed = $(".fixed"),
        limit = 300;

      function tgl(state) {
        $fixed.toggleClass("hidden", state);
      }

      $win.on("scroll", function() {
        var top = $win.scrollTop();

        if (top < limit) {
          tgl(true);
        } else {
          tgl(false);
        }
      });
</script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/comments.js"></script>
