@model Post

<div class="card two-card mb-3 border-white">
    <div class="row">
        <div class="col-auto pr-0">
            <img
                src="@Model.ImageUrl"
                class="pr-1"
                alt=""
            />
        </div>
        <div class="pl-3 col d-flex flex-column">
            <a asp-controller="Post" asp-action="Detail" asp-route-id="@Model.PostId">
                <div class="card-title h5 mb-auto">
                    @Model.Title
                </div>
            </a>
            <div class="author text-dark card-subtitle">Author's Name</div>
            <div class="pt-1 text-muted card-subtitle star">
                @Model.DatePosted.ToString("MMM dd") · @Model.TimeToRead min read @if (Model.IsForSubscribersOnly){
                                                                                      <span>★</span>
                                                                                  }
            </div>
        </div>
    </div>
</div>